<% layout('layout/boilerplate') %>

    <form action="/posts" method="POST">
        <div>
            <label for="title">What are you thinking?</label>
            <input type="text" id="title" name="posts[title]">
        </div>
        <div>
            <label for="description">Add some description</label>
            <input type="text" id="description" name="posts[description]">
        </div>
        <button>Create</button>
    </form>

    <footer>
        <a href="/posts">All posts</a>
    </footer>