<% layout('layout/boilerplate') %>

<div class="row">
    <h1 class="text-center">Add new post</h1>
    <div class="col-6 offset-3">
        
        <form action="/posts" method="POST" class="validated-form" novalidate >
            <div class="mb-3">
                <label class="form-label" for="title">What are you thinking?</label>
                <input class="form-control" type="text" id="title" name="post[title]" required>
                <div class="valid-feedback">
                    Looks Good!
                </div>
            </div>
            <div class="mb-3">
                <label class="form-label" for="description">Add some description</label>
                <input class="form-control" type="text" id="description" name="post[description]" required>
                <div class="valid-feedback">
                    Looks Good!
                </div>
            </div>
            <div class="mb-3">
                <label class="form-label" for="image">Add image</label>
                <input class="form-control" type="text" id="image" name="post[image]" required>
                <div class="valid-feedback">
                    Looks Good!
                </div>
            </div>
            <div class="mb-3">
                <button class="btn btn-success">Create</button>
            </div>
        </form>
        
        <a href="/posts">All posts</a>

    </div>
</div>